body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    }

    .container {
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
    }

    p {font-weight: 400;}

    p, h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0;
    }

    ul {list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
address {
font-style: normal;
margin-left: auto;
}
button {cursor: pointer;} 
img {display: block;}

/**===========HEDER==========**/
.header {
border-bottom: 1px solid #e7e9fc;
padding: 24px 0 0;
}

.header-container {
display: flex;
}

.header-nav {
display: flex;
align-items: center;
}

.header-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.header-logo-black {
    color: #2E2F42;
}

.header-nav-list {
display: flex;
gap: 40px;
}

.header-nav-link {
    font-family: inherit;
    color: #2E2F42;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 .header-item-studio::after {
    display: flex;
    content: '';
    width: 48px;
    height: 4px;
    background-color: #404BBF;
}



    .header-nav-link:hover, .header-nav-link:focus {
    color: #404BBF;
    }



    .address {
        display: flex;
            align-items: center;
    }
    
.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:focus {
    color:#404BBF;
    }

/**================================**/
/**===========sec-btn==========**/

.section-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)), 
     url(../images/people-office\ 1\ \(1\)-min.jpg);   
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding: 188px 0;
    }

.section-one-title  {
    display: block;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

    .btn { 
        display: block;
        color: #FFF;
        background-color: #4D5AE5;
        font-family: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        min-width: 169px;
        height: 56px;
        padding: 16px;
        margin: 0 auto;
        border-radius: 4px;
        border: none;
        transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        .btn:hover, .btn:focus {color: #FFF;
        background-color: #404BBF;
        }

/**================================**/

/**===========sec-principles==========**/
.section-principles {
    padding: 120px 0;
}

.container-section-principles {
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
}

.section-title {color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.principles-list {
display: flex;
gap: 24px;
}

.principles-item {
width: calc((100% - 72px) / 4);
display: flex;
flex-direction: column;
}
.principles-list-box .icon-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 112px;
    padding: 24px 100px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    gap: 8px;
    margin-bottom: 8px;
   
}

.principles-icon {

}

.principles-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
margin-bottom: 8px;
}

.principles-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}
/**================================**/

/**===========sec-team==========**/
.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {

display: flex;
gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.tumb {
    flex-basis: 232px;
    padding: 32px 0;
}

.team-subtitle {
    color: #2E2F42;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {color: #434455;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.all-soc-icon-box {
    display: flex;
justify-content: space-around;
}

.tumb .team-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    fill: #F4F4FD;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-box:hover, .team-icon-box:focus {
    background-color: #404BBF;
}


/**================================**/

/**===========sec-portfolio==========**/
.section-portfolio {
    background-color: #FFF;
    padding: 120px 0 120px 0;
}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap: 48px;
    column-gap: 24px;
    margin: 0;
}

.portfolio-item {
width: calc((100% - 48px) / 3);
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
position: relative;
overflow: hidden; 
}
.portfolio-item:hover, .portfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
} 


.tumb-portfolio {
        
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.overley {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    transform: translateY(110%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover
.overley {
    transform: translateY(0);
} 
    .overley-text {color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px 164px;
    background-color: #4D5AE5;
} 
.overley-thumb-portfolio {
    padding: 0 16px;
    margin: 32px auto;
}
.overley-portfolio-subtitle {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.overley-portfolio-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/*  */
/**================================**/

/**===========sec-footer==========**/
.footer {
padding: 100px;
background-color: #2E2F42;
}
.footer-container {
    display: flex;
    gap: 120px;
}
.logo-container {
   display: block;
}

.logo-container .footer-logo {
    display: inline-block;
    color: #4D5AE5;;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 16px;
}

    .footer-logo-black {color: #F4F4FD}

    .footer-text {
        color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
        max-width: 264px;
    }
.footer-soc-container {
    display: block;
      
}

.footer-nav-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    max-width: 264px;
    display: block;
    margin-bottom: 16px;
}

.footer-nav-box .footer-nav-link {
display: flex;
gap: 16px;
}

.footer-nav-box .footer-icon-link {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    fill: #F4F4FD;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}
.footer-icon-link:hover, .footer-icon-link:focus {
    background-color: #31D0AA;
     
}

/**===========================**










